@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

body{
    width:100%;
    background-color: hsl(0, 0%, 95%);
  }

main{
    display: flex;
    margin: 50px auto 0 auto;
    max-width: 690px;
    min-height: 380px; 
  }

@media screen and (max-width: 375px) {
    main {
      flex-direction: column;
    }
  }

.sedan {
    background-color: hsl(31, 77%, 52%);
  }
  
.suv{
    background-color: hsl(184, 100%, 22%);
  }
  
.luxury{
    background-color: hsl(179, 100%, 13%);
  }

.car-logo{
  margin-top: 35px;
  margin-left: 20px;
}

.car-logo:hover{margin-left: 30px;}


.texts{
  margin-left:35px ;
  color: white;
}

h1{
  font-family: 'Big Shoulders Display', cursive;
  font-size: 30px;
  margin-top: 15px;
}

p{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 13px;
  margin-top: 30px;
  padding-right: 1.5rem;
}


button{
  font-family: 'Lexend Deca', sans-serif;
  margin-top: 90px;
  border-radius: 360px;
  padding: 7px;
  border-style: inherit;
  color:inherit;
}

button:hover{
  background-color: inherit;
}

